<launch>
  <arg name="port" default="/dev/ttyUSB1" />
  <arg name="cha_thr" default="28.5" />
  <arg name="good_thr" default="24.5" />
  <arg name="low_thr" default="22.5" />
  <node name="battery_state_service_node" pkg="vizzy_sensors" type="battery_state_service" 
  args="$(arg port) $(arg cha_thr) $(arg good_thr) $(arg low_thr)" output="screen"/>
</launch>
